@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <!-- Bootstrap core CSS -->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
        <!-- Plugin CSS -->
        <link href="~/Content/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
        <!-- Custom styles for this template -->
        <link href="~/Content/css/freelancer.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        @Html.Sitecore().Placeholder("main-navigation")

        <!-- Navigation -->
        @*<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@

        <!-- Header -->
        @Html.Sitecore().Placeholder("mast-head")

        @Html.Sitecore().Placeholder("section-portfolio")
        <!-- Portfolio Grid Section -->
        @*@Html.Sitecore().DynamicPlaceholder("content")*@

        <!-- About Section -->
        @Html.Sitecore().Placeholder("about")

        @Html.Sitecore().Placeholder("contact")

        <!-- Contact Section -->
        @Html.Sitecore().Placeholder("footer")
        <!-- Footer -->
        @Html.Sitecore().Placeholder("copyright")
        @Html.Sitecore().Placeholder("section")


        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>



        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->

        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="~/Content/js/jqBootstrapValidation.min.js"></script>
        <script src="~/Content/js/contact_me.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="~/Content/js/freelancer.min.js"></script>
    </body>

</html>